In [1]:
#name 변수에 '홍길동'을 대입하고 age 변수에 18을 대입한 후 출력하는 프로그램.
name = '홍길동'
age =18
print(name, age)

홍길동 18

In [2]:
#c 에 7을 대입하고, 이 식의 값인 7을 b 에 대입하며, 마지막으로 7을 a 에 대입하여 a , b , c 모두에 7이 저장되도록 할 수 있습니다
c=7
b=c
a=b
print(a,b,c)

7 7 7

In [3]:
# a 값에 7을 더한 값을 다시 a 에 대입하는 문장 ( a = a + 7 )은 += 기호를 이용하여 a += 7 과 같이 나타낼 수 있습니다.
#a = a+7
a+=7
print(a)

14

In [4]:
# a 의 값인 7과 b 의 값인 11을 교환하는 프로그램이 있습니다
a = 7
b = 11
new = a
a = b
b = new
print(a,b)

11 7

In [5]:
 #a 에 10진수 20을, b 에 8진수 34를, c 에 16진수 A1을, d 에 2진수 1110을 저장한 후 출력하는 프로그램
a=20
b=0o34
c=0xA1
d=0b1110
print(a, b, c, d)

20 28 161 14

In [6]:
# a 에 3.14를 저장하고 b 에 1.23e5를 저장한 후 출력하는 프로그램
a=3.14
b= 1.23e5
print(a,b)

3.14 123000.0

In [7]:
#10 > 20은 거짓이므로 변수 a 에 False를 저장한 다음 출력하는 프로그램.
a= 10>20
print(a)

False

In [8]:
# 문자열 'Python'을 변수 a 에 저장한 후 출력하는 프로그램.
a='Python'
print(a)

Python

In [9]:
#+ 연산자를 이용해서 두 개의 문자열 'Hi! '와 'Python'을 연결해서 출력하는 프로그램
print('Hi! '+'Python')

Hi! Python

In [10]:
#LAB 다양한 자료형 문자열형, 정수형, 부동소수점수형 데이터를 다루는 프로그램
a=10
b='10'
c= str(a)+b
print(c)

1010

In [11]:
# 사용자로부터 이름을 입력받아 name 에 저장하고 나이를 입력받아 age 에 저장하여 출력하는 프로그램
name =input('이름을 입력')
age = input('나이를 입력')
type(name)
age=int(age)

age+=2
print(age)

이름을 입력홍길동
나이를 입력18
20

In [12]:
age= int(input('나이를 입력'))
age+=2
print(age)

나이를 입력18
20

In [13]:
#사용자로부터 두 정수 9와 5를 입력받아 뺄셈한 후 출력하는 프로그램
int(input())-int(input())

9
5

4

In [14]:
a= int(input())
b= int(input())
c= a-b
print(c)
print(a,b,c)
print(b, end='')

10
5
5
10 5 5
5

In [15]:
#입력받은 두 수를 산술 연산하는 프로그램
#3개의 정수 70, 80, 90의 평균을 계산하기 위한 프로그램
a= int(input())
b= int(input())
c= int(input())
print((a+b+c)/3)

70
80
90
80.0

In [16]:
#원의 반지름을 입력받아 원의 넓이를 구하는 프로그램
pi= 3.141592
r= float(input('원의 반지름을 입력'))
print(f"원의 반지름은 {r}이고, 원의 넓이는 {pi*r*r:.2f} 입니다")

원의 반지름을 입력2
원의 반지름은 2.0이고, 원의 넓이는 12.57 입니다