In [64]:
def bmi():
  h=float(input())/100
  w=float(input())
  bmi=w/(h**2)
  print(round(bmi,2))

bmi()

170
43.1
14.91

In [65]:
a,b=map(int,input().split())
print(a+b)

1 2
3

In [66]:
#1-1
email = "user@example.com"
username, domain = email.split("@")
print(f"사용자명: {username}, 도메인: {domain}")

사용자명: user, 도메인: example.com

In [67]:
#1-2
csv_data="김철수,30,서울,개발자"
data_list = csv_data.split(",")
print(f"분리된 데이터:{data_list}")

분리된 데이터:['김철수', '30', '서울', '개발자']

In [68]:
#1-3
folders = ["home", "user", "documents", "project"]
path = " ".join(folders)
print(f"경로: {path}")

경로: home user documents project

In [69]:
#1-4
words = ["Python", "is", "awesome"]
sentence = " ".join(words)
print(f"문장: {sentence}")

문장: Python is awesome

In [70]:
#2-1
multiples_of_3 = [x for x in range(1,21) if x % 3 == 0]
print(f"3의 배수: {multiples_of_3}")

3의 배수: [3, 6, 9, 12, 15, 18]

In [71]:
#2-2
fruits = ["apple", "banana", "cherry"]
upper_fruits = [fruit.upper() for fruit in fruits]

print(f"대문자 과일: {upper_fruits}")

대문자 과일: ['APPLE', 'BANANA', 'CHERRY']

In [72]:
#2-3
words = ["Python", "is", "powerful"]
word_lengths = [len(word) for word in words]

print(f"단어 길이: {word_lengths}")

단어 길이: [6, 2, 8]

In [73]:
#2-4
numbers = [1, 2, 3, 4, 5, 6]
processed =[num**2  if num%2==0 else num for num in numbers]

print(f"처리된 숫자: {processed}")

처리된 숫자: [1, 4, 3, 16, 5, 36]

In [74]:
#3-1
scores = [95, 87, 92, 88]
print("성적 순위:")
for rank, score in enumerate(scores, start=1):

 print(f" {rank}등: {score}점")

성적 순위:
 1등: 95점
 2등: 87점
 3등: 92점
 4등: 88점

In [75]:
#3-2
students = ["철수", "영희", "민수"]
scores = [85, 92, 78]
grades = ["B", "A", "C"]

print("\n학생 성적표:")
for name, score, grade in zip(students, scores, grades):
 print(f"{name}: {score}점 ({grade}등급)")

학생 성적표:
철수: 85점 (B등급)
영희: 92점 (A등급)
민수: 78점 (C등급)

In [76]:
#4-1
celsius = [0, 10, 20, 30, 40]
fahrenheit = [((9/5)*c + 32) for c in celsius]
print(f"섭씨: {celsius}")
print(f"화씨: {fahrenheit}")

섭씨: [0, 10, 20, 30, 40]
화씨: [32.0, 50.0, 68.0, 86.0, 104.0]

In [77]:
#5-1
numbers = [-5, 3, -1, 8, 0, -3, 7]
positive = list(filter(lambda x: x>0, numbers))
print(f"전체 숫자: {numbers}")
print(f"양수만: {positive}")

전체 숫자: [-5, 3, -1, 8, 0, -3, 7]
양수만: [3, 8, 7]